hot-off-press-settings/hot-off-press-minio
hot-off-press-settings/hot-off-press-mysql
hot-off-press-settings/hot-off-press-nginx
hot-off-press-settings/hot-off-press-nacos
hot-off-press-settings/nacos-data